.root {}

.button {
    padding-top: 0.3em;
    padding-right: 0.6em;
    padding-bottom: 0.3em;
    padding-left: 0.6em;
    border-radius: 8px;
    background-color: #C985ED;

    &:hover {
        background-color: #C985ED;
        box-shadow: 0 0 8px #A12FCC, 0 0 8px #976BCC;
    }

    &:focus {
        background-color: #ECD3FA;
    }
}